<!-- Splash Screen -->
<ax-splash-screen />

<!-- Standalone routes (no layout) -->
@if (!showLayout()) {
<router-outlet></router-outlet>
}

<!-- Documentation routes (docs layout) -->
@if (showLayout() && isDocsRoute()) {
<ax-docs-layout
  [navigation]="docsNavigation"
  [showToc]="true"
  [showHeader]="true"
  [appName]="title"
  [githubUrl]="'https://github.com/aegisx/aegisx-ui'"
>
  <!-- Header Actions (Theme Switcher + Search + GitHub) -->
  <ng-template #headerActions>
    <ax-tremor-theme-switcher></ax-tremor-theme-switcher>
    <button mat-icon-button aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
    <a
      mat-icon-button
      href="https://github.com/aegisx/aegisx-ui"
      target="_blank"
      aria-label="GitHub"
    >
      <mat-icon>code</mat-icon>
    </a>
  </ng-template>

  <router-outlet></router-outlet>
</ax-docs-layout>
}

<!-- Other routes (compact layout) -->
@if (showLayout() && !isDocsRoute()) {
<ax-compact-layout
  [navigation]="navigation"
  [appName]="appName"
  [appVersion]="appVersion"
  [showFooter]="true"
>
  <!-- Toolbar Title -->
  <ng-template #toolbarTitle>
    <span class="text-lg font-semibold">{{ title }}</span>
  </ng-template>

  <!-- Toolbar Actions (Theme & Layout Switchers) -->
  <ng-template #toolbarActions>
    <ax-tremor-theme-switcher></ax-tremor-theme-switcher>
    <ax-layout-switcher
      (layoutChange)="onLayoutChange($event)"
    ></ax-layout-switcher>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </ng-template>

  <!-- Main Content -->
  <router-outlet></router-outlet>
</ax-compact-layout>
}
